@using Colman_MVC_WebAplication_Project.Data

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Adminstrator_Layout.cshtml";
    StoreDataBase dataBase = new StoreDataBase();
    int regularUsers = dataBase.Users.Where(u => !u.isEditor).ToList().Count;
    int AdminUsers = dataBase.Users.Where(u => u.isEditor).ToList().Count;
    List<Colman_MVC_WebAplication_Project.Models.User> users = new Colman_MVC_WebAplication_Project.Data.StoreDataBase().Users.ToList();
    List<Colman_MVC_WebAplication_Project.Models.Category> categories = new Colman_MVC_WebAplication_Project.Data.StoreDataBase().Categories.ToList();
}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Month', 'orders'],
            ['January',@dataBase.OrderHistory.Where(o=> o.MonthNumber == 1).ToList().Count],
            ['February',@dataBase.OrderHistory.Where(o=> o.MonthNumber == 2).ToList().Count],
            ['March',@dataBase.OrderHistory.Where(o=> o.MonthNumber == 3).ToList().Count],
            ['April',@dataBase.OrderHistory.Where(o=> o.MonthNumber == 4).ToList().Count],
            ['May', @dataBase.OrderHistory.Where(o=> o.MonthNumber == 5).ToList().Count],
            ['June', @dataBase.OrderHistory.Where(o=> o.MonthNumber == 6).ToList().Count],
            ['July', @dataBase.OrderHistory.Where(o=> o.MonthNumber == 7).ToList().Count],
            ['August', @dataBase.OrderHistory.Where(o=> o.MonthNumber == 8).ToList().Count],
            ['September',@dataBase.OrderHistory.Where(o=> o.MonthNumber == 9).ToList().Count],
            ['October', @dataBase.OrderHistory.Where(o=> o.MonthNumber == 10).ToList().Count],
            ['November', @dataBase.OrderHistory.Where(o=> o.MonthNumber == 11).ToList().Count],
            ['December', @dataBase.OrderHistory.Where(o=> o.MonthNumber == 12).ToList().Count]
        ]);
        var options = {
            title: 'Orders per Month',
            hAxis: {title: 'Month',  titleTextStyle: {color: '#333'}},
            vAxis: {minValue: 0}
        };
        var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }
</script>

<script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Users Role', 'Number Of Products'],
            ['Admin', @AdminUsers],
            ['Regular',@regularUsers]
        ]);
        var options = {
            title: 'User Amount Per Role'
        };
        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
    }
</script>

<div id="chart_div" style="width: 100%; height: 500px;"></div>
<br />
<div id="piechart" style="width: 100%; height: 500px;"></div>

<br />
<br />

<!-- Search Form Order History-->
<div class="search-form">

    <h3 style="text-align: center;"> Search In Order History </h3>
    <br />

    <h6>User</h6>
    <select id="userid">
        @foreach (Colman_MVC_WebAplication_Project.Models.User user in users)
        {
            <option value="@user.UserID"> @user.UserName </option>
        }
    </select>

    <br />
    <br />

    <h6>Category</h6>
    <select id="category">
        @foreach (Colman_MVC_WebAplication_Project.Models.Category category in categories)
        {
            <option value="@category.CategoryID"> @category.CategoryName </option>
        }

    </select>

    <br />
    <br />

    <h6>Month Number</h6>
    <select id="monthNumber">
        @for (int i = 1; i < 13; i++)
        {
            <option value="@i"> @i </option>
        }
    </select>
    
    <br/>
    <br/>

    <center>
        <button onclick="searchOrderHistory()"> Search </button>
    </center>
</div>
